In [4]:
from bs4 import BeautifulSoup as bs
import requests
from selenium import webdriver
from html_table_parser import parser_functions as parse
from time import sleep
import pandas as pd
import urllib.request
import os
import pprint

# Configure the pretty printing output.
pp = pprint.PrettyPrinter(depth=4)

### Get a list of all counties in WI

In [107]:
# Get the list of all counties in WI
county_url = "https://dnr.wi.gov/lakes/clmn/"
county_html = requests.get(county_url)

In [108]:
# .text returns the request content in Unicode
county_html.text[:500]

'\r\n\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\r\n\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n\r\n<head><meta http-equiv="content-type" content="text/html;charset=utf-8" /><link href="http://dnr.wi.gov/favicon.ico" type="image/x-icon" rel="icon" /><link href="http://dnr.wi.gov/favicon.ico" type="image/x-icon" rel="shortcut icon" /><title>\r\n\tCitizen Lake Monitoring Network\r\n</title><!-- BEGIN global_head.inc ( /includes/global_head'

In [109]:
county_soup = bs(county_html.text, 'html.parser')

In [110]:
county_soup.find_all(name='li', attrs={'class':'multiColList'})

[<li class="multiColList"><a href="Stations.aspx?location=1">
                 Adams County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=2">
                 Ashland County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=3">
                 Barron County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=4">
                 Bayfield County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=5">
                 Brown County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=6">
                 Buffalo County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=7">
                 Burnett County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=8">
                 Calumet County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=9">
                 Chippewa County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=10">
                 Clark County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=11">
                 Columbia County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=12">
                 Crawford County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=13">
                 Dane County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=14">
                 Dodge County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=15">
                 Door County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=16">
                 Douglas County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=17">
                 Dunn County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=18">
                 Eau Claire County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=19">
                 Florence County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=20">
                 Fond du Lac County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=21">
                 Forest County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=22">
                 Grant County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=23">
                 Green County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=24">
                 Green Lake County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=25">
                 Iowa County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=26">
                 Iron County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=27">
                 Jackson County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=28">
                 Jefferson County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=29">
                 Juneau County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=30">
                 Kenosha County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=31">
                 Kewaunee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=32">
                 La Crosse County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=33">
                 Lafayette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=34">
                 Langlade County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=35">
                 Lincoln County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=36">
                 Manitowoc County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=37">
                 Marathon County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=38">
                 Marinette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=39">
                 Marquette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=40">
                 Menominee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=41">
                 Milwaukee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=42">
                 Monroe County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=43">
                 Oconto County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=44">
                 Oneida County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=45">
                 Outagamie County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=46">
                 Ozaukee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=47">
                 Pepin County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=48">
                 Pierce County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=49">
                 Polk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=50">
                 Portage County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=51">
                 Price County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=52">
                 Racine County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=53">
                 Richland County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=54">
                 Rock County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=55">
                 Rusk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=56">
                 Saint Croix County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=57">
                 Sauk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=58">
                 Sawyer County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=59">
                 Shawano County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=60">
                 Sheboygan County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=61">
                 Taylor County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=62">
                 Trempealeau County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=63">
                 Vernon County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=64">
                 Vilas County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=65">
                 Walworth County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=66">
                 Washburn County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=67">
                 Washington County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=68">
                 Waukesha County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=69">
                 Waupaca County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=70">
                 Waushara County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=71">
                 Winnebago County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=72">
                 Wood County
             </a></li>]

In [111]:
# Extract list of all counties, correctly formatted 
counties = []
for entry in county_soup.find_all(name='li', attrs={'class':'multiColList'}):
    counties.append(entry.text.replace('\r\n', '').replace('                ','').replace('            ','').\
                    replace(' County','').replace('Fond du Lac','Fond Du Lac').replace('Saint Croix','St. Croix')) 
    
counties

['Adams',
 'Ashland',
 'Barron',
 'Bayfield',
 'Brown',
 'Buffalo',
 'Burnett',
 'Calumet',
 'Chippewa',
 'Clark',
 'Columbia',
 'Crawford',
 'Dane',
 'Dodge',
 'Door',
 'Douglas',
 'Dunn',
 'Eau Claire',
 'Florence',
 'Fond Du Lac',
 'Forest',
 'Grant',
 'Green',
 'Green Lake',
 'Iowa',
 'Iron',
 'Jackson',
 'Jefferson',
 'Juneau',
 'Kenosha',
 'Kewaunee',
 'La Crosse',
 'Lafayette',
 'Langlade',
 'Lincoln',
 'Manitowoc',
 'Marathon',
 'Marinette',
 'Marquette',
 'Menominee',
 'Milwaukee',
 'Monroe',
 'Oconto',
 'Oneida',
 'Outagamie',
 'Ozaukee',
 'Pepin',
 'Pierce',
 'Polk',
 'Portage',
 'Price',
 'Racine',
 'Richland',
 'Rock',
 'Rusk',
 'St. Croix',
 'Sauk',
 'Sawyer',
 'Shawano',
 'Sheboygan',
 'Taylor',
 'Trempealeau',
 'Vernon',
 'Vilas',
 'Walworth',
 'Washburn',
 'Washington',
 'Waukesha',
 'Waupaca',
 'Waushara',
 'Winnebago',
 'Wood']

### Get all reports containing CHLA readings

Get all station numbers

In [112]:
# find station number in from table column station ID 
# All counties: https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=0 
# By county: https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=1 


stationIDs = []

def stationID_extract(pageNumber, url):
    driver = webdriver.Firefox()
    station_url = url
    driver.get(station_url)
    
    for i in range(pageNumber):
        station = driver.page_source
        station_soup = bs(station, "html.parser")
        station_table = station_soup.find('table',  { "class" : "greysuitsyou" })
        station_twod_array = parse.make2d(station_table)
        for n in range(2,len(station_twod_array)-1):
            stationIDs.append(station_twod_array[n][1])
        #sleep(1)
        # go to next page
        driver.find_element_by_id("ctl00_ctl00_LeftPageContent_gvStationTable_ctl01_LinkButton3").click()
    return stationIDs
    driver.close()

In [113]:
stationID_extract(40)

['504001',
 '163120',
 '643042',
 '433364',
 '643401',
 '10051075',
 '433354',
 '033182',
 '643121',
 '10051069',
 '663050',
 '443187',
 '493122',
 '443121',
 '143311',
 '143122',
 '083044',
 '433300',
 '073063',
 '493106',
 '673226',
 '073123',
 '033171',
 '10051124',
 '10051076',
 '643125',
 '643126',
 '443399',
 '443060',
 '10051010',
 '493126',
 '493114',
 '433252',
 '433081',
 '363064',
 '10051079',
 '643055',
 '363036',
 '363120',
 '433366',
 '353095',
 '583092',
 '443075',
 '513098',
 '583204',
 '643177',
 '683371',
 '10044915',
 '643057',
 '203079',
 '073086',
 '653215',
 '10031264',
 '10031263',
 '443089',
 '263044',
 '443096',
 '073077',
 '073081',
 '203076',
 '683122',
 '143123',
 '363035',
 '263124',
 '10051077',
 '10051078',
 '10049242',
 '263138',
 '593044',
 '433337',
 '643066',
 '643434',
 '043093',
 '074013',
 '363068',
 '643196',
 '653289',
 '443111',
 '133419',
 '693107',
 '443113',
 '433078',
 '073054',
 '013178',
 '363309',
 '203059',
 '193006',
 '583046',
 '513087',
 '603311',
 '673225',
 '703026',
 '443413',
 '683124',
 '10022780',
 '213123',
 '303121',
 '133318',
 '213124',
 '163125',
 '208',
 '703036',
 '703037',
 '703038',
 '703041',
 '383125',
 '353179',
 '10014912',
 '573124',
 '283122',
 '423126',
 '133125',
 '10051087',
 '133320',
 '10046787',
 '10046788',
 '713335',
 '113077',
 '10028900',
 '10029002',
 '10031185',
 '10031184',
 '10007596',
 '10007595',
 '10039943',
 '10039945',
 '093159',
 '10028991',
 '163238',
 '403110',
 '303126',
 '10021425',
 '213043',
 '073094',
 '10040970',
 '643239',
 '243022',
 '10043373',
 '263127',
 '663114',
 '643381',
 '643557',
 '363310',
 '353122',
 '443210',
 '493102',
 '093123',
 '703056',
 '263178',
 '593002',
 '643081',
 '443215',
 '663101',
 '683388',
 '683255',
 '033161',
 '033185',
 '253168',
 '10043650',
 '643417',
 '433123',
 '643460',
 '703027',
 '263149',
 '503126',
 '663115',
 '573079',
 '703066',
 '10039999',
 '643137',
 '683129',
 '683137',
 '513079',
 '643249',
 '10021231',
 '683202',
 '643251',
 '433071',
 '443140',
 '10039141',
 '443470',
 '163393',
 '683143',
 '10033632',
 '433248',
 '10047119',
 '10047120',
 '10047121',
 '363078',
 '683201',
 '593043',
 '703057',
 '643164',
 '653220',
 '303050',
 '693124',
 '433075',
 '603312',
 '283223',
 '163383',
 '443453',
 '10043987',
 '283123',
 '643617',
 '073041',
 '553067',
 '10051125',
 '693025',
 '10051073',
 '593072',
 '443256',
 '10051072',
 '363311',
 '683145',
 '693084',
 '10012329',
 '363312',
 '113079',
 '143348',
 '143344',
 '10051085',
 '663053',
 '10043374',
 '643104',
 '643105',
 '513128',
 '643257',
 '693029',
 '583064',
 '583113',
 '263160',
 '583101',
 '583048',
 '583171',
 '583102',
 '073040',
 '363038',
 '10021157',
 '643107',
 '643260',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 '693028',
 '443270',
 '113076',
 '693088',
 '583105',
 '443144',
 '443146',
 '643113',
 '503135',
 '10044914',
 '353102',
 '363030',
 '263059',
 '263052',
 '263182',
 '044029',
 '093140',
 '10051086',
 '643268',
 '443280',
 '033175',
 '073100',
 '443283',
 '493131',
 '10051070',
 '10028838',
 '453283',
 '263037',
 '10051011',
 '393018',
 '573058',
 '583088',
 '363286',
 '263034',
 '523124',
 '10030260',
 '10028832',
 '643180',
 '073079',
 '333254',
 ...]

In [120]:
len(stationIDs)

1600

Report url example: stationNo, year1=1950&year2=2017 (regardless of most recent data)
http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=013159&year1=1950&year2=2017&format=csv
http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=10021087&year1=1950&year2=2017&format=csv
http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=013178&year1=1950&year2=2017&format=csv
http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=273120&year1=1950&year2=2017&format=csv

Detail page examples:
https://dnr.wi.gov/lakes/CLMN/Station.aspx?id=013159

In [2]:
def clean_reports(number_of_stations):
    """
    This module takes reports from each station and returns cleaned reports
    
    """
    # get the reports
    for i in range(number_of_stations):
        try:
            report_url = 'http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=' + str(stationIDs[i]) + '&year1=1950&year2=2017&format=csv'
            #print(report_url)
            original_report_name = './data/wi-lakes/wi_lakes_reports_05_22_2018/report_'+str(stationIDs[i])+'.csv'

            if os.path.isfile(original_report_name):
                continue
            else:
                urllib.request.urlretrieve(report_url, original_report_name)  

            # clean report 
            f = open(original_report_name,'r')
            lines = f.readlines()
            f.close()
            goodlines = []
            start = 0
            for n in range(len(lines)):
                if "Chlorophyll" in lines[n]:
                    start = n
                if start > 0:
                    if lines[n].strip().replace(",","") == "":
                        goodlines = lines[start:n]
                        break


            # get the water body ID which corresponds with satellite paths 
            wbic = lines[4].split(',')[2]

            # get rid of unnecessary columns 
            cleanlines = []
            for l in range(len(goodlines)):
                cleanlines.append(",".join(goodlines[l].split(',')[:10])+'\n')

            #print("\n".join(cleanlines))

            # save clean report 
            clean_report_name = './data/wi-lakes/report_'+str(stationIDs[i])+'_clean.csv'   
            f = open(clean_report_name,'w')      
            f.writelines(cleanlines)
            f.close()
            
        except:
            print('There is an issue with Station with ID ' + str(stationIDs[i]))

In [115]:
clean_reports(len(stationIDs))

In [121]:
wi_lakes = []

def reports_to_df(number_of_stations):
    for i in range(number_of_stations):
        try:
            clean_report_name = './data/wi-lakes/wi_lakes_reports_05_22_2018/report_'+str(stationIDs[i])+'_clean.csv'   
            original_report_name = './data/wi-lakes/wi_lakes_reports_05_22_2018/report_'+str(stationIDs[i])+'.csv'

            f = open(original_report_name,'r')
            lines = f.readlines()
            wbic = str(lines[4].split(',')[2])
            lake_name = lines[4].split(',')[0]
            county = lines[4].split(',')[1]

            df = pd.read_csv(clean_report_name,sep=",")
            # clean column names
            df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '_').str.replace(')', '').str.replace('/', '_').str.replace('?', '')
            df['wbic'] = wbic
            df['lake_name'] = lake_name
            df['county'] = county
            df['station_id'] = stationIDs[i]

            wi_lakes.append(df)
        except: 
            print('There is no report for Station with ID ' + str(stationIDs[i]))

    #wi_lakes_df = pd.concat(wi_lakes, ignore_index = True)
    #return wi_lakes_df
    #wi_lakes_df.to_csv('./data/wi-lakes/wi_lakes_all.csv',index=False)

In [122]:
reports_to_df(len(stationIDs))

There is no report for Station with ID 10051124
There is no report for Station with ID 143123
There is no report for Station with ID 683388
There is no report for Station with ID 443453
There is no report for Station with ID 10051125
There is no report for Station with ID 113079
There is no report for Station with ID 693029
There is no report for Station with ID 643107

In [13]:
wi_lakes_insitu_df = pd.concat(wi_lakes, ignore_index = True)

In [14]:
wi_lakes_insitu_df

,group_seq_no,start_date,secchi__feet,secchi_hit_bottom,secchi__meters,chlorophyll_ug_l,total_phosphorus_ug_l,secchi_tsi,total_phosphorus_tsi,chlorophyll_tsi,wbic,lake_name,county,station_id
0,1,08/07/1979,NaN,NaN,NaN,3.04,11.0,NaN,47.0,43.0,267800,Adams Lake,Portage,504001
1,81853857,06/19/2013,25.00,NO,7.60,NaN,NaN,31.0,NaN,NaN,267800,Adams Lake,Portage,504001
2,1,07/17/2017,NaN,NaN,NaN,3.38,26.3,NaN,53.0,44.0,267800,Adams Lake,Portage,504001
3,18138029,07/17/2017,6.00,NO,1.80,NaN,NaN,51.0,NaN,NaN,267800,Adams Lake,Portage,504001
4,18138029,08/07/2017,7.75,NO,2.40,NaN,NaN,48.0,NaN,NaN,267800,Adams Lake,Portage,504001
5,1,08/08/2017,NaN,NaN,NaN,2.99,22.8,NaN,52.0,43.0,267800,Adams Lake,Portage,504001
6,18138029,09/13/2017,7.75,NO,2.40,5.88,26.2,48.0,53.0,48.0,267800,Adams Lake,Portage,504001
7,1,08/16/1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052
8,7000068,08/29/2001,NaN,NaN,NaN,5.80,NaN,NaN,NaN,48.0,967400,Aldridge Lake,Oneida,443052
9,8188599,08/29/2001,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
10,1,08/14/2007,5.10,NO,1.55,3.54,29.0,54.0,54.0,44.0,967400,Aldridge Lake,Oneida,443052
11,83293435,08/17/2013,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
12,83293435,09/03/2013,4.00,NO,1.20,NaN,NaN,57.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
13,83293435,07/01/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
14,83293435,07/10/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
15,83293435,08/02/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
16,83293435,08/08/2014,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
17,83293435,08/31/2014,4.00,,1.20,NaN,NaN,57.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
18,83293435,09/09/2014,3.75,NO,1.10,NaN,NaN,58.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
19,83293435,06/25/2015,4.30,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
20,83293435,07/04/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
21,83293435,07/11/2015,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
22,83293435,07/17/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
23,83293435,08/14/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
24,83293435,09/03/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
25,103119417,09/09/2015,22.00,NO,6.70,NaN,NaN,33.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
26,83293435,09/25/2015,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
27,83293435,11/08/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052
28,83293435,11/29/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052
29,83293435,12/17/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161414,34818229,09/14/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161415,34818229,09/20/2015,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161416,34818229,10/18/2015,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161417,34818229,03/22/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161418,34818229,06/21/2016,2.00,NO,0.60,54.30,125.0,67.0,66.0,65.0,903700,Yellowstone Lake,Lafayette,333254
161419,34818229,07/18/2016,0.50,NO,0.20,226.00,188.0,87.0,69.0,76.0,903700,Yellowstone Lake,Lafayette,333254
161420,34818229,08/17/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161421,81193662,08/17/2016,NaN,NaN,NaN,147.00,145.0,NaN,67.0,73.0,903700,Yellowstone Lake,Lafayette,333254
161422,132164990,08/17/2016,1.60,NO,0.50,NaN,NaN,70.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161423,79510873,08/30/2016,0.98,NO,0.30,138.00,139.0,77.0,66.0,72.0,903700,Yellowstone Lake,Lafayette,333254
161424,34818229,10/02/2016,2.00,NO,0.60,NaN,NaN,67.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161425,34818229,04/23/2017,1.00,NO,0.30,NaN,NaN,77.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161426,34818229,05/31/2017,1.50,NO,0.50,12.00,37.4,71.0,56.0,54.0,903700,Yellowstone Lake,Lafayette,333254
161427,34818229,06/27/2017,1.50,NO,0.50,39.30,NaN,71.0,NaN,63.0,903700,Yellowstone Lake,Lafayette,333254
161428,34818229,07/23/2017,1.50,NO,0.50,61.50,110.0,71.0,65.0,66.0,903700,Yellowstone Lake,Lafayette,333254
161429,99475467,08/24/2017,NaN,NaN,NaN,79.00,122.0,NaN,65.0,68.0,903700,Yellowstone Lake,Lafayette,333254
161430,132164990,08/25/2017,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161431,132164990,10/01/2017,2.50,NO,0.80,NaN,NaN,64.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254
161432,1,02/04/1992,NaN,NaN,NaN,NaN,10.0,NaN,46.0,NaN,264300,Youngs Lake,Waupaca,693101
161433,1,09/22/1992,NaN,NaN,NaN,3.58,17.0,NaN,50.0,44.0,264300,Youngs Lake,Waupaca,693101
161434,1,02/03/1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161435,1,05/20/1993,33.10,NaN,10.10,NaN,NaN,27.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161436,62595126,08/14/2012,11.50,NO,3.50,9.19,24.0,42.0,53.0,52.0,264300,Youngs Lake,Waupaca,693101
161437,81855176,07/14/2013,10.25,NO,3.10,NaN,NaN,44.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161438,81855176,08/15/2013,12.50,YES,3.80,NaN,NaN,41.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161439,81855176,08/02/2014,13.00,YES,4.00,NaN,NaN,40.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161440,1,07/26/2016,11.80,N,3.60,0.45,15.2,42.0,49.0,29.0,264300,Youngs Lake,Waupaca,693101
161441,145584054,06/21/2017,NaN,NaN,NaN,3.96,20.5,NaN,52.0,45.0,264300,Youngs Lake,Waupaca,693101
161442,81855176,08/22/2017,8.00,NO,2.40,NaN,NaN,47.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101
161443,81855176,09/15/2017,11.00,NO,3.30,NaN,NaN,43.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101

### Obtain the coordinates and other information by water body IDs

Obtain information from each water body fact page: https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic=267800&page=facts

In [2]:
def get_unique_items(df, col, item_list = []):
    '''
    Get a list of unique items from a dataframe column
    df: dataframe name
    col: column name (str)
    '''
    unique_item = df[col].drop_duplicates()
    item_count = unique_item.count()

    for i in unique_item.index:
        item_list.append(df[col][i])

    return item_list

In [4]:
wi_lakes_insitu_df = pd.read_pickle('./data/wi-lakes/wi_lakes_all.pkl')

In [5]:
wbic = []
get_unique_items(wi_lakes_insitu_df, 'wbic', wbic)

['267800',
 '967400',
 '967900',
 '245650',
 '2128100',
 '968100',
 '2359700',
 '268200',
 '2268600',
 '2858100',
 '968500',
 '458700',
 '2668600',
 '2953800',
 '1441100',
 '968800',
 '2624200',
 '181400',
 '417400',
 '1374300',
 '1377700',
 '854300',
 '2410400',
 '2092500',
 '1626400',
 '417500',
 '2340700',
 '2112800',
 '2620600',
 '2382300',
 '2881200',
 '828600',
 '2662400',
 '969700',
 '2901100',
 '417900',
 '1832800',
 '1580300',
 '2450900',
 '2451200',
 '2451900',
 '1604200',
 '969600',
 '2450800',
 '462400',
 '521400',
 '2450500',
 '2451300',
 '5551281',
 '2718500',
 '552100',
 '1527800',
 '471200',
 '2105100',
 '279700',
 '418000',
 '2618100',
 '1523600',
 '262300',
 '182000',
 '835100',
 '2081200',
 '2081500',
 '77300',
 '894700',
 '2678300',
 '2327100',
 '418300',
 '1545600',
 '2453300',
 '1405200',
 '2705700',
 '2627000',
 '2641000',
 '971600',
 '25300',
 '2244200',
 '2453400',
 '1835100',
 '1427400',
 '1610700',
 '182100',
 '2334700',
 '1613000',
 '345100',
 '2615900',
 '2706800',
 '2079000',
 '762400',
 '498800',
 '1629500',
 '1374800',
 '2627400',
 '1602600',
 '2676800',
 '1591100',
 '1612200',
 '2638700',
 '182200',
 '146500',
 '1835500',
 '2453500',
 '2113000',
 '2311100',
 '1523800',
 '972000',
 '2381900',
 '1630100',
 '315600',
 '1538600',
 '1835700',
 '1836100',
 '750800',
 '973000',
 '2693500',
 '2628100',
 '2742500',
 '1580200',
 '1619100',
 '2756400',
 '77600',
 '418700',
 '740400',
 '491800',
 '1541300',
 '2454800',
 '183000',
 '1837200',
 '1837300',
 '750300',
 '974200',
 '168000',
 '102100',
 '68300',
 '2903800',
 '2283300',
 '692400',
 '2105800',
 '545400',
 '1378100',
 '747100',
 '584700',
 '982100',
 '2757900',
 '2938000',
 '976100',
 '66800',
 '45100',
 '2615100',
 '747300',
 '1840100',
 '1840400',
 '2160700',
 '976800',
 '2616100',
 '462520',
 '2326700',
 '994600',
 '97700',
 '976900',
 '1555400',
 '775000',
 '1841300',
 '2329000',
 '2303700',
 '2457600',
 '1616400',
 '2264000',
 '2963500',
 '2758800',
 '632800',
 '270200',
 '262400',
 '2275100',
 '146100',
 '1246500',
 '2953500',
 '1603800',
 '2670700',
 '2741700',
 '388500',
 '2322800',
 '1564200',
 '2458900',
 '826800',
 '102600',
 '462000',
 '1612500',
 '2017500',
 '157300',
 '45200',
 '184200',
 '2459700',
 '1590000',
 '979700',
 '264700',
 '139300',
 '2054200',
 '2316600',
 '489700',
 '879400',
 '999700',
 '1009500',
 '1448400',
 '1450800',
 '1448600',
 '1450600',
 '1450700',
 '1448300',
 '1844000',
 '102800',
 '1844100',
 '1519600',
 '2460700',
 '1612300',
 '2619400',
 '1601300',
 '793600',
 '2674200',
 '980900',
 '2461100',
 '1537100',
 '8600',
 '979600',
 '1612900',
 '2858300',
 '855200',
 '981500',
 '1599900',
 '2100300',
 '2709800',
 '1286500',
 '1451700',
 '2902900',
 '1600200',
 '759800',
 '768600',
 '94200',
 '2935800',
 '982400',
 '1343600',
 '2133200',
 '1597800',
 '2630200',
 '2301800',
 '59300',
 '1847400',
 '983400',
 '651600',
 '983500',
 '68100',
 '2935600',
 '466900',
 '1591000',
 '2670900',
 '1301300',
 '2464000',
 '677100',
 '2323000',
 '103400',
 '1571100',
 '420600',
 '2298500',
 '2464500',
 '2307300',
 '2343200',
 '2320500',
 '985300',
 '2902800',
 '8900',
 '2762200',
 '95700',
 '1593800',
 '262200',
 '1610800',
 '1572000',
 '849400',
 '1849500',
 '129800',
 '130300',
 '986000',
 '692900',
 '2641500',
 '1352000',
 '853200',
 '585700',
 '2272000',
 '67100',
 '758300',
 '1569600',
 '265400',
 '2465700',
 '523300',
 '186400',
 '2942300',
 '462300',
 '2695800',
 '627200',
 '775900',
 '103600',
 '161100',
 '2314100',
 '2100800',
 '299200',
 '1445500',
 '28100',
 '459900',
 '755800',
 '2467200',
 '276500',
 '421600',
 '2671100',
 '1539700',
 '421700',
 '2762700',
 '2621100',
 '988000',
 '2150200',
 '679300',
 '2467900',
 '1012000',
 '1517900',
 '2674000',
 '84600',
 '2958500',
 '2903200',
 '67200',
 '1589100',
 '1567325',
 '85200',
 '1242400',
 '989200',
 '2109800',
 '2468900',
 '2763300',
 '2328400',
 '903450',
 '540600',
 '2344000',
 '178300',
 '990200',
 '1241200',
 '1564600',
 '2184900',
 '752300',
 '738400',
 '467100',
 '2616200',
 '1588000',
 '2953100',
 '2630100',
 '2470000',
 '2469800',
 '64200',
 '2400600',
 '826300',
 '586800',
 '1249000',
 '278800',
 '2340900',
 '1610500',
 '2334400',
 '328900',
 '1856500',
 '1516000',
 '1191600',
 '470600',
 '2471600',
 '1856700',
 '1246800',
 '104000',
 '1403600',
 '993300',
 '377900',
 '98600',
 '45800',
 '1598300',
 '2957000',
 '1542300',
 '446600',
 '716800',
 '43900',
 '672900',
 '104200',
 '1520900',
 '2603700',
 '2603000',
 '189500',
 '94700',
 '189600',
 '339600',
 '2390800',
 '848800',
 '2236800',
 '1631900',
 '1555900',
 '1179900',
 '1727700',
 '766600',
 '139900',
 '2113300',
 '2901700',
 '1295400',
 '2104500',
 '5540624',
 '32500',
 '161600',
 '189800',
 '1764000',
 '777400',
 '2935500',
 '994900',
 '995000',
 '852400',
 '802600',
 '808700',
 '190100',
 '777500',
 '396500',
 '995300',
 '2607100',
 '743000',
 '175700',
 '805400',
 '2065900',
 '394400',
 '2866200',
 '1515400',
 '804600',
 '2103200',
 '164300',
 '246500',
 '2691500',
 '2865000',
 '525900',
 '347200',
 '2298300',
 '1620500',
 '2632100',
 '2900200',
 '1481600',
 '2436500',
 '158700',
 '1280400',
 '809600',
 '734700',
 '734800',
 '104700',
 '1859400',
 '2099900',
 '1569900',
 '1342100',
 '740700',
 '803700',
 '1437500',
 '2473600',
 '805000',
 '131100',
 '241600',
 '2381100',
 '1260600',
 '2152800',
 '2275300',
 '',
 '2668500',
 '2668100',
 '1611800',
 '997300',
 '843400',
 '2693800',
 '997400',
 '519500',
 '2474500',
 '2474800',
 '340500',
 '339900',
 '340900',
 '340400',
 '5535807',
 '340200',
 '341000',
 '340100',
 '1256500',
 '884700',
 '740900',
 '619800',
 '376900',
 '82900',
 '264900',
 '2475400',
 '2678100',
 '1545300',
 '998400',
 '998600',
 '1523500',
 '2640700',
 '998800',
 '25100',
 '2324000',
 '1861400',
 '46000',
 '1610600',
 '853100',
 '162500',
 '105200',
 '466800',
 '2332300',
 '190500',
 '502300',
 '475000',
 '2949500',
 '1629200',
 '406400',
 '2477300',
 '1862100',
 '2661600',
 '2394100',
 '1540400',
 '1513000',
 '1596300',
 '2334300',
 '1593200',
 '1626200',
 '2639300',
 '146400',
 '2650900',
 '2674800',
 '1605600',
 '2322300',
 '261200',
 '2106800',
 '2674100',
 '2767100',
 '38700',
 '1602300',
 '77500',
 '321300',
 '1001000',
 '191100',
 '2478200',
 '1609000',
 '1001200',
 '1001300',
 '2351400',
 '2107700',
 '1236600',
 '2303500',
 '2640500',
 '2767300',
 '2478600',
 '323800',
 '2673500',
 '672700',
 '2382700',
 '1593400',
 '588000',
 '2616900',
 '2671000',
 '2620000',
 '1621000',
 '2429300',
 '2741600',
 '1534800',
 '2691800',
 '2706300',
 '827000',
 '1605200',
 '765800',
 '397100',
 '327800',
 '1864100',
 '820800',
 '2317600',
 '2079700',
 '2098200',
 '930700',
 '191900',
 '324000',
 '1606700',
 '588200',
 '2856400',
 '1600000',
 '2954500',
 '448200',
 '1544700',
 '2624600',
 '487500',
 '2317100',
 '2931300',
 '2964100',
 '2329400',
 '2332000',
 '262800',
 '1517200',
 '1609900',
 '1615900',
 '1678200',
 '105800',
 '264100',
 '2314300',
 '496300',
 '2710800',
 '2931100',
 '1403200',
 '1003700',
 '179100',
 '2481500',
 '1526600',
 '265100',
 '353200',
 '1003900',
 '2481600',
 '1587600',
 '2143900',
 '1611700',
 '2313600',
 '2768200',
 '1542600',
 '2742100',
 '778300',
 '2691900',
 '755700',
 '2706500',
 '2317700',
 '2482100',
 '1004600',
 '755600',
 '2903700',
 '264800',
 '2916900',
 '2670600',
 '1542400',
 '2692900',
 '2689800',
 '258700',
 '1296000',
 '192900',
 '703300',
 '1867600',
 '1005800',
 '337600',
 '778400',
 '2420600',
 '589400',
 '246700',
 '2960300',
 '454200',
 '2322500',
 '2649500',
 '778500',
 '830800',
 '778900',
 '470900',
 '1596600',
 '2245100',
 '1626000',
 '828000',
 '2732600',
 '2735500',
 '2734200',
 '1352800',
 '1007600',
 '2704200',
 '265200',
 '2486100',
 '1870400',
 '850800',
 '279400',
 '703000',
 '2485700',
 '2323800',
 '1515200',
 '2310400',
 '2485900',
 '1623800',
 '1623700',
 '1007500',
 '2628800',
 '1247100',
 '1008200',
 '2486600',
 '849600',
 '440200',
 '3000513',
 '850300',
 '1518200',
 '195100',
 '262600',
 '822200',
 '1600100',
 '265700',
 '264500',
 '2954800',
 '737900',
 '1546000',
 '2328700',
 '1009400',
 '2308000',
 '180300',
 '106500',
 '106600',
 '653700',
 '2488000',
 '425600',
 '195400',
 '1579900',
 '415000',
 '178700',
 '1010800',
 '1011100',
 '2488300',
 '2488600',
 '1377100',
 '741400',
 '772000',
 '2771200',
 '1558400',
 '195900',
 '1619700',
 '1590400',
 '474900',
 '388100',
 '2489400',
 '64000',
 '1406300',
 '858300',
 '2268300',
 '2299900',
 '196100',
 '299100',
 '406900',
 '779200',
 '2949200',
 '1623400',
 '2490500',
 '1609100',
 '106900',
 '741500',
 '2490700',
 '868400',
 '1592400',
 '2490900',
 '2320800',
 '2696300',
 '262900',
 '2491000',
 '2491100',
 '590800',
 '443500',
 '246900',
 '2098000',
 '2714500',
 '2355300',
 '753800',
 '744200',
 '2956500',
 '779300',
 '2234600',
 '1875900',
 '2310800',
 '265300',
 '426400',
 '30300',
 '1610300',
 '813100',
 '2109600',
 '2492100',
 '466700',
 '1580100',
 '2615400',
 '2300600',
 '1618600',
 '2677900',
 '2103900',
 '816600',
 '779500',
 '278600',
 '378400',
 '2743300',
 '2139000',
 '830700',
 '2311700',
 '389300',
 '2493100',
 '1877900',
 '494200',
 '504300',
 '299300',
 '2616400',
 '2267800',
 '68600',
 '2494000',
 '1610400',
 '265000',
 '197300',
 '480100',
 '2169200',
 '1878200',
 '141400',
 '2494600',
 '2740300',
 '2494800',
 '2494900',
 '2495100',
 '2393200',
 '2495000',
 '2353600',
 '1597000',
 '2661100',
 '2659400',
 '107400',
 '198100',
 '1600300',
 '283600',
 '825000',
 '2630700',
 '672300',
 '1572300',
 '1490300',
 '1605800',
 '996200',
 '258600',
 '1016700',
 '1016800',
 '322800',
 '456765',
 '85400',
 '2496300',
 '1576100',
 '1377900',
 '1539600',
 '46700',
 '2743600',
 '1641400',
 '2054600',
 '779800',
 '747900',
 '1599800',
 '555700',
 '1881100',
 '36200',
 '247700',
 '198800',
 '107900',
 '107700',
 '67400',
 '1017800',
 '859900',
 '2882300',
 '2393500',
 '2109300',
 '2726100',
 '427500',
 '1018300',
 '1018500',
 '2242500',
 '1018900',
 '1015100',
 '2323900',
 '2310200',
 '2494500',
 '780000',
 '717400',
 '445900',
 '1882100',
 '1882200',
 '1882300',
 '1882400',
 '1882500',
 '2435700',
 '2435800',
 '2329300',
 '2306300',
 '2435900',
 '2774200',
 '2436000',
 '1019000',
 '2650300',
 '1612000',
 '1506800',
 '770600',
 '63700',
 '148100',
 '267200',
 '1402300',
 '2340100',
 '1019500',
 '2271600',
 '2631200',
 '1019800',
 '2323600',
 '1252300',
 '2328800',
 '2267200',
 '1884100',
 '2499500',
 '780300',
 '259600',
 '783750',
 '2327200',
 '1020400',
 '2318000',
 '460900',
 '265500',
 '1021000',
 '1522400',
 '179800',
 '1589600',
 '2671700',
 '2473500',
 '2068000',
 '2310500',
 '1269100',
 '265600',
 '2734100',
 '2922700',
 '2417000',
 '2089500',
 '1572200',
 '2055200',
 '533600',
 '1580400',
 '763600',
 '2435000',
 '1586800',
 '2501700',
 '1542700',
 '1022900',
 '617900',
 '1023100',
 '1609600',
 '465000',
 '2502000',
 '289400',
 '816000',
 '2014700',
 '493100',
 '479300',
 '1482400',
 '87900',
 '2268500',
 '2294900',
 '2295200',
 '795100',
 '2502900',
 '108200',
 '2672500',
 '2731800',
 '1245800',
 '1887500',
 '1588200',
 '2536900',
 '519700',
 '5582235',
 '5588789',
 '2018700',
 '2594300',
 '1172200',
 '5577031',
 '5566558',
 '1121700',
 '1925400',
 '2725200',
 '1963600',
 '1621800',
 '2043500',
 '2742700',
 '2330800',
 '1535000',
 '7100',
 '2692000',
 '827100',
 '766000',
 '399200',
 '329900',
 '2747300',
 '2267100',
 '2079800',
 '2098800',
 '2956800',
 '608400',
 '2327300',
 '1176500',
 '739100',
 '2598600',
 '1614100',
 '2044100',
 '2045000',
 '240300',
 '2618000',
 '2599400',
 '1178000',
 '1599400',
 '439500',
 '760900',
 '1391200',
 '2705400',
 '2909000',
 '455300',
 '94300',
 ...]

In [6]:
len(wbic)

1049

In [7]:
wbic_url = 'https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic='+'181400'+'&page=facts'
wbic_html = requests.get(wbic_url)
wbic_soup = bs(wbic_html.text, "html.parser")
wbic_table = wbic_soup.find('table',  { "class" : "tableLeft" })
wbic_twod_array = parse.make2d(wbic_table)
wbic_twod_array

[['Facts & Figures', 'Facts & Figures'],
 ['Name', 'Arbutus Lake'],
 ['Waterbody ID (WBIC)', '181400'],
 ['Area', '163\r\n                    ACRES'],
 ['Maximum Depth', '28 feet'],
 ['Mean Depth', '12 FEET'],
 ['Bottom',
  '65% sand,\r\n                    15% gravel,\r\n                    5% rock,\r\n                    15% muck'],
 ['Waterbody Type', 'lake'],
 ['Hydrologic Lake Type', 'SEEPAGE'],
 ['County', 'Forest'],
 ['Region', 'NO'],
 ['Latitude, Longitude', '45.40135090,\r\n                    -88.86134240'],
 ['Contour (Bathymetric) Map', 'Contour Map'],
 ['Interactive Map', 'Interactive Map'],
 ['Lake Management', 'Lake Management'],
 ['Lake Organizations', 'Arbutus Lake Association Inc [exit DNR]'],
 ['Recreation', 'Recreation'],
 ['Boat Landings', '1'],
 ['Fish', 'Panfish, Largemouth Bass and Walleye'],
 ['Lake Health', 'Lake Health'],
 ['Invasive Species *',
  'Banded Mystery Snail, Chinese Mystery Snail, Freshwater Jellyfish'],
 ['Trophic Status', 'Mesotrophic']]

In [8]:
coordinates = []
depth_max_ft = []
depth_mean_ft = []
trophic_status = []
waterbody_type = []
area_acre = []


wbic_depth_max  = []
wbic_depth_mean = []
wbic_tropic = []
wbic_coord = []
wbic_waterbody = []
wbic_area = []
wbic_failed = []


# GEE takes Lon, Lat

def lake_info_extract():
    '''
    extract information about lakes
    '''
    
    for i in range(len(wbic)): 
        try:

            wbic_url = 'https://dnr.wi.gov/lakes/lakepages/LakeDetail.aspx?wbic='+wbic[i]+'&page=facts'
            wbic_html = requests.get(wbic_url)
            wbic_soup = bs(wbic_html.text, "html.parser")
            wbic_table = wbic_soup.find('table',  { "class" : "tableLeft" })
            wbic_twod_array = parse.make2d(wbic_table)

            for row in wbic_twod_array:

                if 'Area' in row[0]:
                    area_acre.append(row[1].lower().replace('\r\n                    acres',''))
                    wbic_area.append(wbic[i])
                else:
                    pass


                if 'Maximum Depth' in row[0]:
                    depth_max_ft.append(row[1].lower().replace(' feet',''))
                    wbic_depth_max.append(wbic[i])
                else:
                    pass


                if 'Mean Depth' in row[0]:
                    depth_mean_ft.append(row[1].lower().replace(' feet',''))
                    wbic_depth_mean.append(wbic[i])
                else:
                    pass

                if 'Waterbody Type' in row[0]:
                    waterbody_type.append(row[1].lower())
                    wbic_waterbody.append(wbic[i])
                else:
                    pass


                if 'Trophic Status' in row[0]:
                    trophic_status.append(row[1].lower())
                    wbic_tropic.append(wbic[i])
                else:
                    pass


                if 'Latitude, Longitude' in row[0]:
                    coord = []
                    coord_string = row[1].replace('\r\n                    ','').split(',')
                    coord.append(float(coord_string[1]))
                    coord.append(float(coord_string[0]))
                    coordinates.append(coord)
                    wbic_coord.append(wbic[i])

                else:
                    continue

                    
        except:
            print('There is an issue with water body ' + str(wbic[i]))
            wbic_failed.append(wbic[i])

In [9]:
lake_info_extract()

There is an issue with water body 5551281
There is an issue with water body 2693500
There is an issue with water body 130300
There is an issue with water body 1246800
There is an issue with water body 1179900
There is an issue with water body 805000
There is an issue with water body
There is an issue with water body 5535807
There is an issue with water body 2317100
There is an issue with water body 2689800
There is an issue with water body 1352800
There is an issue with water body 440200
There is an issue with water body 868400
There is an issue with water body 2659400
There is an issue with water body 2310500
There is an issue with water body 5582235
There is an issue with water body 5588789
There is an issue with water body 5577031
There is an issue with water body 5566558

In [10]:
# these water bodies have no detail page
len(wbic_failed)

19

In [14]:
len(coordinates)

1030

In [11]:
depth_max_dict = dict(zip(wbic_depth_max, depth_max_ft))
depth_mean_dict = dict(zip(wbic_depth_mean, depth_mean_ft))
coord_dict = dict(zip(wbic_coord, coordinates))
tropic_dict = dict(zip(wbic_tropic, trophic_status))
waterbody_dict = dict(zip(wbic_waterbody, waterbody_type))
area_dict = dict(zip(wbic_area, area_acre))

In [12]:
wi_lakes_insitu_df['coordinates'] = wi_lakes_insitu_df['wbic'].map(coord_dict)
wi_lakes_insitu_df['depth_max_ft'] = wi_lakes_insitu_df['wbic'].map(depth_max_dict)
wi_lakes_insitu_df['depth_mean_ft'] = wi_lakes_insitu_df['wbic'].map(depth_mean_dict)
wi_lakes_insitu_df['tropic_status'] = wi_lakes_insitu_df['wbic'].map(tropic_dict)
wi_lakes_insitu_df['waterbody_type'] = wi_lakes_insitu_df['wbic'].map(waterbody_dict)
wi_lakes_insitu_df['area_acre'] = wi_lakes_insitu_df['wbic'].map(area_dict)

In [13]:
wi_lakes_insitu_df

,group_seq_no,start_date,secchi__feet,secchi_hit_bottom,secchi__meters,chlorophyll_ug_l,total_phosphorus_ug_l,secchi_tsi,total_phosphorus_tsi,chlorophyll_tsi,wbic,lake_name,county,station_id,coordinates,depth_max_ft,depth_mean_ft,tropic_status,waterbody_type,area_acre
0,1,08/07/1979,NaN,NaN,NaN,3.04,11.0,NaN,47.0,43.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
1,81853857,06/19/2013,25.00,NO,7.60,NaN,NaN,31.0,NaN,NaN,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
2,1,07/17/2017,NaN,NaN,NaN,3.38,26.3,NaN,53.0,44.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
3,18138029,07/17/2017,6.00,NO,1.80,NaN,NaN,51.0,NaN,NaN,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
4,18138029,08/07/2017,7.75,NO,2.40,NaN,NaN,48.0,NaN,NaN,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
5,1,08/08/2017,NaN,NaN,NaN,2.99,22.8,NaN,52.0,43.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
6,18138029,09/13/2017,7.75,NO,2.40,5.88,26.2,48.0,53.0,48.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30
7,1,08/16/1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
8,7000068,08/29/2001,NaN,NaN,NaN,5.80,NaN,NaN,NaN,48.0,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
9,8188599,08/29/2001,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
10,1,08/14/2007,5.10,NO,1.55,3.54,29.0,54.0,54.0,44.0,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
11,83293435,08/17/2013,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
12,83293435,09/03/2013,4.00,NO,1.20,NaN,NaN,57.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
13,83293435,07/01/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
14,83293435,07/10/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
15,83293435,08/02/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
16,83293435,08/08/2014,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
17,83293435,08/31/2014,4.00,,1.20,NaN,NaN,57.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
18,83293435,09/09/2014,3.75,NO,1.10,NaN,NaN,58.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
19,83293435,06/25/2015,4.30,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
20,83293435,07/04/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
21,83293435,07/11/2015,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
22,83293435,07/17/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
23,83293435,08/14/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
24,83293435,09/03/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
25,103119417,09/09/2015,22.00,NO,6.70,NaN,NaN,33.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
26,83293435,09/25/2015,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
27,83293435,11/08/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
28,83293435,11/29/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
29,83293435,12/17/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,967400,Aldridge Lake,Oneida,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161414,34818229,09/14/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161415,34818229,09/20/2015,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161416,34818229,10/18/2015,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161417,34818229,03/22/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161418,34818229,06/21/2016,2.00,NO,0.60,54.30,125.0,67.0,66.0,65.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161419,34818229,07/18/2016,0.50,NO,0.20,226.00,188.0,87.0,69.0,76.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161420,34818229,08/17/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161421,81193662,08/17/2016,NaN,NaN,NaN,147.00,145.0,NaN,67.0,73.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161422,132164990,08/17/2016,1.60,NO,0.50,NaN,NaN,70.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161423,79510873,08/30/2016,0.98,NO,0.30,138.00,139.0,77.0,66.0,72.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161424,34818229,10/02/2016,2.00,NO,0.60,NaN,NaN,67.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161425,34818229,04/23/2017,1.00,NO,0.30,NaN,NaN,77.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161426,34818229,05/31/2017,1.50,NO,0.50,12.00,37.4,71.0,56.0,54.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161427,34818229,06/27/2017,1.50,NO,0.50,39.30,NaN,71.0,NaN,63.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161428,34818229,07/23/2017,1.50,NO,0.50,61.50,110.0,71.0,65.0,66.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161429,99475467,08/24/2017,NaN,NaN,NaN,79.00,122.0,NaN,65.0,68.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161430,132164990,08/25/2017,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161431,132164990,10/01/2017,2.50,NO,0.80,NaN,NaN,64.0,NaN,NaN,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453
161432,1,02/04/1992,NaN,NaN,NaN,NaN,10.0,NaN,46.0,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161433,1,09/22/1992,NaN,NaN,NaN,3.58,17.0,NaN,50.0,44.0,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161434,1,02/03/1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161435,1,05/20/1993,33.10,NaN,10.10,NaN,NaN,27.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161436,62595126,08/14/2012,11.50,NO,3.50,9.19,24.0,42.0,53.0,52.0,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161437,81855176,07/14/2013,10.25,NO,3.10,NaN,NaN,44.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161438,81855176,08/15/2013,12.50,YES,3.80,NaN,NaN,41.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161439,81855176,08/02/2014,13.00,YES,4.00,NaN,NaN,40.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161440,1,07/26/2016,11.80,N,3.60,0.45,15.2,42.0,49.0,29.0,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161441,145584054,06/21/2017,NaN,NaN,NaN,3.96,20.5,NaN,52.0,45.0,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161442,81855176,08/22/2017,8.00,NO,2.40,NaN,NaN,47.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3
161443,81855176,09/15/2017,11.00,NO,3.30,NaN,NaN,43.0,NaN,NaN,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3

In [16]:
wi_lakes_insitu_df.to_pickle('./data/wi-lakes/wi_lakes_all.pkl') 
wi_lakes_insitu_df.to_csv('./data/wi-lakes/wi_lakes_all.csv',index=False)