In [1]:
# Import the Earth Engine Python Package
import ee
from IPython.display import Image
import pprint
import ast
import pandas as pd

# Configure the pretty printing output.
pp = pprint.PrettyPrinter(depth=4)

# Initialize the Earth Engine object, using the authentication credentials.
ee.Initialize()

In [2]:
wi_lakes_df = pd.read_pickle('./data/wi-lakes/wi_lakes_all.pkl')

In [3]:
# Get date time
wi_lakes_df['record_date'] = pd.to_datetime(wi_lakes_df.start_date)

In [4]:
wi_lakes_df.record_date.sort_values()

70294    1967-03-15
70295    1967-11-30
70296    1968-04-25
32209    1968-07-01
70297    1968-07-24
70298    1968-11-06
70299    1969-01-28
70300    1969-04-29
70301    1969-07-23
70302    1969-11-17
70303    1970-02-10
70304    1970-04-30
70305    1970-07-13
70306    1970-11-09
70307    1971-02-17
70308    1971-05-06
70309    1971-08-18
70310    1971-11-16
70008    1972-02-05
70311    1972-02-24
70312    1972-05-10
70313    1972-07-13
70314    1972-11-09
51735    1972-12-01
51736    1972-12-21
1880     1973-01-29
94265    1973-01-29
51737    1973-02-07
70009    1973-02-10
51738    1973-03-02
            ...
120395   2017-11-08
120396   2017-11-08
28164    2017-11-08
22395    2017-11-08
33089    2017-11-09
33090    2017-11-09
57737    2017-11-10
77112    2017-11-12
68422    2017-11-12
92034    2017-11-13
23394    2017-11-13
100983   2017-11-13
148173   2017-11-13
131155   2017-11-15
12114    2017-11-15
34846    2017-11-16
77113    2017-11-18
23395    2017-11-19
81864    2017-11-20
77114    2017-11-25
44587    2017-11-26
155222   2017-11-26
155223   2017-11-26
139673   2017-11-27
94188    2017-11-30
23396    2017-11-30
131428   2017-11-30
53504    2017-12-02
69279    2017-12-19
113079   2017-12-28
Name: record_date, Length: 161444, dtype: datetime64[ns]

In [5]:
from datetime import timedelta
offset = timedelta(days=7)

wi_lakes_df['image_start_date'] = wi_lakes_df.record_date - offset
wi_lakes_df['image_end_date'] = wi_lakes_df.record_date + offset

In [6]:
# Landsat 4: Aug 22, 1982 - Dec 14, 1993
landsat4_start = pd.to_datetime('08/22/1982')
landsat4_end = pd.to_datetime('12/14/1993')
# Landsat 5: Jan 1, 1984 - May 5, 2012
landsat5_start = pd.to_datetime('01/01/1984')
landsat5_end = pd.to_datetime('05/05/2012')
# Landsat 7: Jan 1, 1999 - Apr 26, 2018
landsat7_start = pd.to_datetime('01/01/1999')
landsat7_end = pd.to_datetime('04/26/2018')
# Landsat 8: Apr 11, 2013 - present
landsat8_start = pd.to_datetime('04/11/2013')
# sentinel 2: Jun 23, 2015 - May 24, 2018
sentinel2_start = pd.to_datetime('06/23/2015')
# sentinel 3: Oct 18, 2016 - May 24, 2018
sentinel3_start = pd.to_datetime('10/18/2016')

In [20]:
wi_lakes_df

,group_seq_no,start_date,secchi__feet,secchi_hit_bottom,secchi__meters,chlorophyll_ug_l,total_phosphorus_ug_l,secchi_tsi,total_phosphorus_tsi,chlorophyll_tsi,...,station_id,coordinates,depth_max_ft,depth_mean_ft,tropic_status,waterbody_type,area_acre,record_date,image_start_date,image_end_date
0,1,08/07/1979,NaN,NaN,NaN,3.04,11.0,NaN,47.0,43.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,1979-08-07,1979-07-31,1979-08-14
1,81853857,06/19/2013,25.00,NO,7.60,NaN,NaN,31.0,NaN,NaN,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2013-06-19,2013-06-12,2013-06-26
2,1,07/17/2017,NaN,NaN,NaN,3.38,26.3,NaN,53.0,44.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-07-17,2017-07-10,2017-07-24
3,18138029,07/17/2017,6.00,NO,1.80,NaN,NaN,51.0,NaN,NaN,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-07-17,2017-07-10,2017-07-24
4,18138029,08/07/2017,7.75,NO,2.40,NaN,NaN,48.0,NaN,NaN,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-08-07,2017-07-31,2017-08-14
5,1,08/08/2017,NaN,NaN,NaN,2.99,22.8,NaN,52.0,43.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-08-08,2017-08-01,2017-08-15
6,18138029,09/13/2017,7.75,NO,2.40,5.88,26.2,48.0,53.0,48.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-09-13,2017-09-06,2017-09-20
7,1,08/16/1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,1979-08-16,1979-08-09,1979-08-23
8,7000068,08/29/2001,NaN,NaN,NaN,5.80,NaN,NaN,NaN,48.0,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2001-08-29,2001-08-22,2001-09-05
9,8188599,08/29/2001,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2001-08-29,2001-08-22,2001-09-05
10,1,08/14/2007,5.10,NO,1.55,3.54,29.0,54.0,54.0,44.0,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2007-08-14,2007-08-07,2007-08-21
11,83293435,08/17/2013,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2013-08-17,2013-08-10,2013-08-24
12,83293435,09/03/2013,4.00,NO,1.20,NaN,NaN,57.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2013-09-03,2013-08-27,2013-09-10
13,83293435,07/01/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-07-01,2014-06-24,2014-07-08
14,83293435,07/10/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-07-10,2014-07-03,2014-07-17
15,83293435,08/02/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-08-02,2014-07-26,2014-08-09
16,83293435,08/08/2014,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-08-08,2014-08-01,2014-08-15
17,83293435,08/31/2014,4.00,,1.20,NaN,NaN,57.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-08-31,2014-08-24,2014-09-07
18,83293435,09/09/2014,3.75,NO,1.10,NaN,NaN,58.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2014-09-09,2014-09-02,2014-09-16
19,83293435,06/25/2015,4.30,NO,1.30,NaN,NaN,56.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-06-25,2015-06-18,2015-07-02
20,83293435,07/04/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-07-04,2015-06-27,2015-07-11
21,83293435,07/11/2015,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-07-11,2015-07-04,2015-07-18
22,83293435,07/17/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-07-17,2015-07-10,2015-07-24
23,83293435,08/14/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-08-14,2015-08-07,2015-08-21
24,83293435,09/03/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-09-03,2015-08-27,2015-09-10
25,103119417,09/09/2015,22.00,NO,6.70,NaN,NaN,33.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-09-09,2015-09-02,2015-09-16
26,83293435,09/25/2015,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-09-25,2015-09-18,2015-10-02
27,83293435,11/08/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-11-08,2015-11-01,2015-11-15
28,83293435,11/29/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-11-29,2015-11-22,2015-12-06
29,83293435,12/17/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,443052,"[-89.3012762, 45.8659415]",12,NaN,eutrophic,lake,142,2015-12-17,2015-12-10,2015-12-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161414,34818229,09/14/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-09-14,2015-09-07,2015-09-21
161415,34818229,09/20/2015,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-09-20,2015-09-13,2015-09-27
161416,34818229,10/18/2015,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-10-18,2015-10-11,2015-10-25
161417,34818229,03/22/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-03-22,2016-03-15,2016-03-29
161418,34818229,06/21/2016,2.00,NO,0.60,54.30,125.0,67.0,66.0,65.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-06-21,2016-06-14,2016-06-28
161419,34818229,07/18/2016,0.50,NO,0.20,226.00,188.0,87.0,69.0,76.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-07-18,2016-07-11,2016-07-25
161420,34818229,08/17/2016,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-08-17,2016-08-10,2016-08-24
161421,81193662,08/17/2016,NaN,NaN,NaN,147.00,145.0,NaN,67.0,73.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-08-17,2016-08-10,2016-08-24
161422,132164990,08/17/2016,1.60,NO,0.50,NaN,NaN,70.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-08-17,2016-08-10,2016-08-24
161423,79510873,08/30/2016,0.98,NO,0.30,138.00,139.0,77.0,66.0,72.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-08-30,2016-08-23,2016-09-06
161424,34818229,10/02/2016,2.00,NO,0.60,NaN,NaN,67.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-10-02,2016-09-25,2016-10-09
161425,34818229,04/23/2017,1.00,NO,0.30,NaN,NaN,77.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-04-23,2017-04-16,2017-04-30
161426,34818229,05/31/2017,1.50,NO,0.50,12.00,37.4,71.0,56.0,54.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-05-31,2017-05-24,2017-06-07
161427,34818229,06/27/2017,1.50,NO,0.50,39.30,NaN,71.0,NaN,63.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-06-27,2017-06-20,2017-07-04
161428,34818229,07/23/2017,1.50,NO,0.50,61.50,110.0,71.0,65.0,66.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-07-23,2017-07-16,2017-07-30
161429,99475467,08/24/2017,NaN,NaN,NaN,79.00,122.0,NaN,65.0,68.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-08-24,2017-08-17,2017-08-31
161430,132164990,08/25/2017,1.50,NO,0.50,NaN,NaN,71.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-08-25,2017-08-18,2017-09-01
161431,132164990,10/01/2017,2.50,NO,0.80,NaN,NaN,64.0,NaN,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-10-01,2017-09-24,2017-10-08
161432,1,02/04/1992,NaN,NaN,NaN,NaN,10.0,NaN,46.0,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,1992-02-04,1992-01-28,1992-02-11
161433,1,09/22/1992,NaN,NaN,NaN,3.58,17.0,NaN,50.0,44.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,1992-09-22,1992-09-15,1992-09-29
161434,1,02/03/1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,1993-02-03,1993-01-27,1993-02-10
161435,1,05/20/1993,33.10,NaN,10.10,NaN,NaN,27.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,1993-05-20,1993-05-13,1993-05-27
161436,62595126,08/14/2012,11.50,NO,3.50,9.19,24.0,42.0,53.0,52.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2012-08-14,2012-08-07,2012-08-21
161437,81855176,07/14/2013,10.25,NO,3.10,NaN,NaN,44.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2013-07-14,2013-07-07,2013-07-21
161438,81855176,08/15/2013,12.50,YES,3.80,NaN,NaN,41.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2013-08-15,2013-08-08,2013-08-22
161439,81855176,08/02/2014,13.00,YES,4.00,NaN,NaN,40.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2014-08-02,2014-07-26,2014-08-09
161440,1,07/26/2016,11.80,N,3.60,0.45,15.2,42.0,49.0,29.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2016-07-26,2016-07-19,2016-08-02
161441,145584054,06/21/2017,NaN,NaN,NaN,3.96,20.5,NaN,52.0,45.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2017-06-21,2017-06-14,2017-06-28
161442,81855176,08/22/2017,8.00,NO,2.40,NaN,NaN,47.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2017-08-22,2017-08-15,2017-08-29
161443,81855176,09/15/2017,11.00,NO,3.30,NaN,NaN,43.0,NaN,NaN,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2017-09-15,2017-09-08,2017-09-22

In [21]:
chla = wi_lakes_df.chlorophyll_ug_l
chla_range = (chla > 0) & (chla < chla.quantile(0.99)) & (wi_lakes_df.coordinates.notnull()) & (wi_lakes_df.record_date >= landsat8_start)

In [22]:
wi_lakes_df[chla_range].chlorophyll_ug_l.describe()

count    10150.000000
mean        11.561027
std         16.842952
min          0.006400
25%          2.660000
50%          4.920000
75%         11.900000
max        112.000000
Name: chlorophyll_ug_l, dtype: float64

In [23]:
wi_lakes_select = wi_lakes_df[chla_range].reset_index()
wi_lakes_select

,index,group_seq_no,start_date,secchi__feet,secchi_hit_bottom,secchi__meters,chlorophyll_ug_l,total_phosphorus_ug_l,secchi_tsi,total_phosphorus_tsi,...,station_id,coordinates,depth_max_ft,depth_mean_ft,tropic_status,waterbody_type,area_acre,record_date,image_start_date,image_end_date
0,2,1,07/17/2017,NaN,NaN,NaN,3.38,26.30,NaN,53.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-07-17,2017-07-10,2017-07-24
1,5,1,08/08/2017,NaN,NaN,NaN,2.99,22.80,NaN,52.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-08-08,2017-08-01,2017-08-15
2,6,18138029,09/13/2017,7.75,NO,2.4,5.88,26.20,48.0,53.0,...,504001,"[-89.3813373, 44.4366549]",44,17,mesotrophic,lake,30,2017-09-13,2017-09-06,2017-09-20
3,461,29996815,06/27/2013,13.00,,4.0,1.72,7.72,40.0,44.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2013-06-27,2013-06-20,2013-07-04
4,463,1,07/24/2013,NaN,NaN,NaN,5.11,NaN,NaN,NaN,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2013-07-24,2013-07-17,2013-07-31
5,464,29996815,08/28/2013,10.00,NO,3.0,4.43,12.80,44.0,48.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2013-08-28,2013-08-21,2013-09-04
6,467,29996815,06/23/2014,NaN,NaN,NaN,2.11,8.89,NaN,45.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2014-06-23,2014-06-16,2014-06-30
7,469,29996815,07/28/2014,NaN,NaN,NaN,2.77,11.70,NaN,47.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2014-07-28,2014-07-21,2014-08-04
8,471,29996815,08/26/2014,NaN,NaN,NaN,4.82,13.50,NaN,48.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2014-08-26,2014-08-19,2014-09-02
9,473,29996815,06/18/2015,NaN,NaN,NaN,2.43,16.10,NaN,50.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2015-06-18,2015-06-11,2015-06-25
10,474,29996815,07/30/2015,NaN,NaN,NaN,3.10,19.50,NaN,51.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2015-07-30,2015-07-23,2015-08-06
11,476,29996815,08/20/2015,NaN,NaN,NaN,7.15,13.40,NaN,48.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2015-08-20,2015-08-13,2015-08-27
12,479,29996815,06/28/2016,12.50,NO,3.8,4.42,21.30,41.0,52.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2016-06-28,2016-06-21,2016-07-05
13,480,29996815,07/26/2016,11.50,NO,3.5,2.94,16.00,42.0,50.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2016-07-26,2016-07-19,2016-08-02
14,481,29996815,08/24/2016,9.00,NO,2.7,5.29,16.30,45.0,50.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2016-08-24,2016-08-17,2016-08-31
15,483,32114776,07/05/2017,9.00,NO,2.7,2.54,15.80,45.0,50.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2017-07-05,2017-06-28,2017-07-12
16,484,32114776,07/25/2017,11.50,NO,3.5,2.39,16.50,42.0,50.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2017-07-25,2017-07-18,2017-08-01
17,485,32114776,08/21/2017,10.00,NO,3.0,3.50,12.00,44.0,47.0,...,643047,"[-89.4282752, 45.9097631]",18,11,mesotrophic,lake,58,2017-08-21,2017-08-14,2017-08-28
18,726,34990919,06/24/2013,8.50,NO,2.6,2.81,15.30,46.0,49.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2013-06-24,2013-06-17,2013-07-01
19,727,34990919,08/27/2013,12.50,NO,3.8,2.32,19.70,41.0,51.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2013-08-27,2013-08-20,2013-09-03
20,730,34990919,07/27/2014,8.00,NO,2.4,2.74,13.20,47.0,48.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2014-07-27,2014-07-20,2014-08-03
21,732,121884948,06/28/2015,NaN,NaN,NaN,9.34,27.30,NaN,54.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2015-06-28,2015-06-21,2015-07-05
22,734,121884948,07/26/2015,NaN,NaN,NaN,3.16,24.00,NaN,53.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2015-07-26,2015-07-19,2015-08-02
23,736,137688017,06/25/2016,NaN,NaN,NaN,6.78,22.50,NaN,52.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2016-06-25,2016-06-18,2016-07-02
24,737,137688017,07/23/2016,NaN,NaN,NaN,2.16,23.80,NaN,53.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2016-07-23,2016-07-16,2016-07-30
25,738,137688017,08/28/2016,NaN,NaN,NaN,1.50,16.40,NaN,50.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2016-08-28,2016-08-21,2016-09-04
26,740,137688017,06/24/2017,NaN,NaN,NaN,7.17,40.80,NaN,57.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2017-06-24,2017-06-17,2017-07-01
27,741,137688017,07/29/2017,NaN,NaN,NaN,10.60,30.30,NaN,55.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2017-07-29,2017-07-22,2017-08-05
28,742,137688017,09/03/2017,NaN,NaN,NaN,8.37,25.30,NaN,53.0,...,703060,"[-89.194145, 44.060486]",18,NaN,mesotrophic,lake,50,2017-09-03,2017-08-27,2017-09-10
29,750,83263526,07/06/2013,NaN,NaN,NaN,28.50,138.00,NaN,66.0,...,183082,"[-91.4230985, 44.8149299]",25,10,eutrophic,flowage,720,2013-07-06,2013-06-29,2013-07-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,161318,36799091,06/15/2014,NaN,NaN,NaN,16.80,34.60,NaN,56.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2014-06-15,2014-06-08,2014-06-22
10121,161320,8191321,07/14/2014,7.00,NO,2.1,6.54,28.70,49.0,54.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2014-07-14,2014-07-07,2014-07-21
10122,161321,8191321,08/04/2014,5.00,NO,1.5,23.40,30.20,54.0,55.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2014-08-04,2014-07-28,2014-08-11
10123,161323,8191321,06/01/2015,11.00,NO,3.3,3.56,26.90,43.0,54.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2015-06-01,2015-05-25,2015-06-08
10124,161324,8191321,07/07/2015,6.00,NO,1.8,16.70,32.90,51.0,55.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2015-07-07,2015-06-30,2015-07-14
10125,161325,8191321,08/11/2015,4.00,NO,1.2,53.60,49.10,57.0,58.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2015-08-11,2015-08-04,2015-08-18
10126,161326,8191321,09/08/2015,4.00,NO,1.2,46.10,56.90,57.0,59.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2015-09-08,2015-09-01,2015-09-15
10127,161329,8191321,06/20/2016,8.00,NO,2.4,6.27,24.40,47.0,53.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2016-06-20,2016-06-13,2016-06-27
10128,161330,8191321,07/18/2016,5.00,NO,1.5,10.60,38.40,54.0,56.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2016-07-18,2016-07-11,2016-07-25
10129,161331,8191321,08/31/2016,NaN,NaN,NaN,71.60,96.30,NaN,64.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2016-08-31,2016-08-24,2016-09-07
10130,161332,8191321,06/05/2017,5.00,NO,1.5,6.05,31.10,54.0,55.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2017-06-05,2017-05-29,2017-06-12
10131,161333,8191321,07/10/2017,8.00,NO,2.4,9.91,28.40,47.0,54.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2017-07-10,2017-07-03,2017-07-17
10132,161334,8191321,08/07/2017,5.00,NO,1.5,14.20,43.50,54.0,57.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2017-08-07,2017-07-31,2017-08-14
10133,161335,8191321,09/05/2017,4.60,NO,1.4,33.20,90.90,55.0,63.0,...,073079,"[-92.3985698, 45.9190532]",31,19,eutrophic,lake,2283,2017-09-05,2017-08-29,2017-09-12
10134,161396,34818229,06/28/2013,2.00,NO,0.6,13.40,151.00,67.0,67.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2013-06-28,2013-06-21,2013-07-05
10135,161398,62803480,07/09/2013,2.75,NO,0.8,61.00,70.80,63.0,61.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2013-07-09,2013-07-02,2013-07-16
10136,161399,34818229,08/07/2013,2.75,NO,0.8,101.00,208.00,63.0,69.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2013-08-07,2013-07-31,2013-08-14
10137,161403,34818229,06/18/2014,4.25,NO,1.3,11.30,109.00,56.0,64.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2014-06-18,2014-06-11,2014-06-25
10138,161404,34818229,07/18/2014,1.00,NO,0.3,71.00,115.00,77.0,65.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2014-07-18,2014-07-11,2014-07-25
10139,161405,99385750,07/28/2014,2.00,NO,0.6,86.40,151.00,67.0,67.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2014-07-28,2014-07-21,2014-08-04
10140,161410,34818229,06/10/2015,4.50,NO,1.4,31.40,52.60,55.0,59.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-06-10,2015-06-03,2015-06-17
10141,161411,34818229,07/13/2015,1.75,NO,0.5,61.50,89.60,69.0,63.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-07-13,2015-07-06,2015-07-20
10142,161413,81193662,09/03/2015,1.30,NO,0.4,82.20,134.00,73.0,66.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2015-09-03,2015-08-27,2015-09-10
10143,161418,34818229,06/21/2016,2.00,NO,0.6,54.30,125.00,67.0,66.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2016-06-21,2016-06-14,2016-06-28
10144,161426,34818229,05/31/2017,1.50,NO,0.5,12.00,37.40,71.0,56.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-05-31,2017-05-24,2017-06-07
10145,161427,34818229,06/27/2017,1.50,NO,0.5,39.30,NaN,71.0,NaN,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-06-27,2017-06-20,2017-07-04
10146,161428,34818229,07/23/2017,1.50,NO,0.5,61.50,110.00,71.0,65.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-07-23,2017-07-16,2017-07-30
10147,161429,99475467,08/24/2017,NaN,NaN,NaN,79.00,122.00,NaN,65.0,...,333254,"[-89.9738841, 42.7640929]",14,8,hypereutrophic,flowage,453,2017-08-24,2017-08-17,2017-08-31
10148,161440,1,07/26/2016,11.80,N,3.6,0.45,15.20,42.0,49.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2016-07-26,2016-07-19,2016-08-02
10149,161441,145584054,06/21/2017,NaN,NaN,NaN,3.96,20.50,NaN,52.0,...,693101,"[-89.183001, 44.3330556]",15,8,NaN,lake,3,2017-06-21,2017-06-14,2017-06-28

In [12]:
wi_lakes_select.image_start_date[0]

Timestamp('2017-07-10 00:00:00')

In [25]:
# USGS Landsat 8 Surface Reflectance Tier 1
ln_b1

ee.Geometry({
  "type": "Point",
  "coordinates": [
    -89.3813373,
    44.4366549
  ]
})
['id',
 'longitude',
 'latitude',
 'time',
 'B1',
 'B2',
 'B3',
 'B4',
 'B5',
 'B6',
 'B7',
 'B10',
 'B11',
 'sr_aerosol',
 'pixel_qa',
 'radsat_qa']
-89.38133321573919
44.43665224076733
2158
1500568821290.0

In [30]:
def getBandInfo(coordinates, start_date, end_date, band_selection, assetID = "LANDSAT/LC08/C01/T1_SR"):
    '''
    assetID: personal or GEE asset, default is USGS Landsat 8 Surface Reflectance Tier 1: "LANDSAT/LC08/C01/T1_SR"
    start_date, end_date: timestamp object
    band selection: (for bands in Landsat 8 with 30 m resolution)
        4: b1
        5: b2
        6: b3
        7: b4
        8: b5
        9: b6
        10: b7
    '''
    try: 
        image = ee.ImageCollection(assetID).filterDate(start_date, end_date)
        point = ee.Geometry.Point(coordinates)
        get_point = image.getRegion(point,1)
        return get_point.get(1).getInfo()[band_selection]
    except: 
        return None

In [32]:
getBandInfo(wi_lakes_select.coordinates[10], wi_lakes_select.image_start_date[10], wi_lakes_select.image_end_date[10], 3)

1438360782120.0

In [ ]:
# New column with b1 values from landsat 8
wi_lakes_select['ls8_b1'] = wi_lakes_select.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 4), axis=1)

In [ ]:
# New column with b2 values from landsat 8
wi_lakes_select['ls8_b2'] = wi_lakes_select.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 5), axis=1)

In [ ]:
# New column with b3 values from landsat 8
wi_lakes_select['ls8_b3'] = wi_lakes_select.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 6), axis=1)

In [ ]:
# New column with b4 values from landsat 8
wi_lakes_select['ls8_b4'] = wi_lakes_select.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 7), axis=1)

In [ ]:
# New column with b5 values from landsat 8
wi_lakes_select['ls8_b5'] = wi_lakes_select.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 8), axis=1)

In [22]:
wi_lakes_select

,index,group_seq_no,start_date,secchi__feet,secchi_hit_bottom,secchi__meters,chlorophyll_ug_l,total_phosphorus_ug_l,secchi_tsi,total_phosphorus_tsi,...,station_id,coordinates,record_date,image_start_date,image_end_date,ls8_b1,ls8_b2,ls8_b3,ls8_b4,ls8_b5
0,2,1,07/17/2017,NaN,NaN,NaN,3.38,26.30,NaN,53.0,...,504001,"[-89.3813373, 44.4366549]",2017-07-17,2017-07-10,2017-07-24,2158.0,2120.0,2165.0,2008.0,3503.0
1,5,1,08/08/2017,NaN,NaN,NaN,2.99,22.80,NaN,52.0,...,504001,"[-89.3813373, 44.4366549]",2017-08-08,2017-08-01,2017-08-15,1024.0,1033.0,1125.0,997.0,2816.0
2,6,18138029,09/13/2017,7.75,NO,2.4,5.88,26.20,48.0,53.0,...,504001,"[-89.3813373, 44.4366549]",2017-09-13,2017-09-06,2017-09-20,2251.0,2240.0,2275.0,2213.0,3448.0
3,461,29996815,06/27/2013,13.00,,4.0,1.72,7.72,40.0,44.0,...,643047,"[-89.4282752, 45.9097631]",2013-06-27,2013-06-20,2013-07-04,223.0,297.0,421.0,288.0,512.0
4,463,1,07/24/2013,NaN,NaN,NaN,5.11,NaN,NaN,NaN,...,643047,"[-89.4282752, 45.9097631]",2013-07-24,2013-07-17,2013-07-31,5779.0,5948.0,6192.0,6378.0,7382.0
5,464,29996815,08/28/2013,10.00,NO,3.0,4.43,12.80,44.0,48.0,...,643047,"[-89.4282752, 45.9097631]",2013-08-28,2013-08-21,2013-09-04,2709.0,2662.0,2772.0,2698.0,4055.0
6,467,29996815,06/23/2014,NaN,NaN,NaN,2.11,8.89,NaN,45.0,...,643047,"[-89.4282752, 45.9097631]",2014-06-23,2014-06-16,2014-06-30,378.0,349.0,332.0,183.0,165.0
7,469,29996815,07/28/2014,NaN,NaN,NaN,2.77,11.70,NaN,47.0,...,643047,"[-89.4282752, 45.9097631]",2014-07-28,2014-07-21,2014-08-04,696.0,701.0,714.0,493.0,704.0
8,471,29996815,08/26/2014,NaN,NaN,NaN,4.82,13.50,NaN,48.0,...,643047,"[-89.4282752, 45.9097631]",2014-08-26,2014-08-19,2014-09-02,5090.0,5119.0,5260.0,5301.0,6152.0
9,473,29996815,06/18/2015,NaN,NaN,NaN,2.43,16.10,NaN,50.0,...,643047,"[-89.4282752, 45.9097631]",2015-06-18,2015-06-11,2015-06-25,7897.0,7944.0,7883.0,7945.0,8081.0
10,474,29996815,07/30/2015,NaN,NaN,NaN,3.10,19.50,NaN,51.0,...,643047,"[-89.4282752, 45.9097631]",2015-07-30,2015-07-23,2015-08-06,7123.0,7335.0,7483.0,7692.0,8189.0
11,476,29996815,08/20/2015,NaN,NaN,NaN,7.15,13.40,NaN,48.0,...,643047,"[-89.4282752, 45.9097631]",2015-08-20,2015-08-13,2015-08-27,1024.0,1017.0,1051.0,946.0,1649.0
12,479,29996815,06/28/2016,12.50,NO,3.8,4.42,21.30,41.0,52.0,...,643047,"[-89.4282752, 45.9097631]",2016-06-28,2016-06-21,2016-07-05,3583.0,3596.0,3598.0,3558.0,4567.0
13,480,29996815,07/26/2016,11.50,NO,3.5,2.94,16.00,42.0,50.0,...,643047,"[-89.4282752, 45.9097631]",2016-07-26,2016-07-19,2016-08-02,5695.0,5767.0,5942.0,6156.0,6892.0
14,481,29996815,08/24/2016,9.00,NO,2.7,5.29,16.30,45.0,50.0,...,643047,"[-89.4282752, 45.9097631]",2016-08-24,2016-08-17,2016-08-31,317.0,284.0,286.0,167.0,169.0
15,483,32114776,07/05/2017,9.00,NO,2.7,2.54,15.80,45.0,50.0,...,643047,"[-89.4282752, 45.9097631]",2017-07-05,2017-06-28,2017-07-12,212.0,197.0,191.0,121.0,137.0
16,484,32114776,07/25/2017,11.50,NO,3.5,2.39,16.50,42.0,50.0,...,643047,"[-89.4282752, 45.9097631]",2017-07-25,2017-07-18,2017-08-01,1000.0,980.0,982.0,887.0,1520.0
17,485,32114776,08/21/2017,10.00,NO,3.0,3.50,12.00,44.0,47.0,...,643047,"[-89.4282752, 45.9097631]",2017-08-21,2017-08-14,2017-08-28,300.0,299.0,321.0,201.0,392.0
18,726,34990919,06/24/2013,8.50,NO,2.6,2.81,15.30,46.0,49.0,...,703060,"[-89.194145, 44.060486]",2013-06-24,2013-06-17,2013-07-01,66.0,157.0,311.0,197.0,572.0
19,727,34990919,08/27/2013,12.50,NO,3.8,2.32,19.70,41.0,51.0,...,703060,"[-89.194145, 44.060486]",2013-08-27,2013-08-20,2013-09-03,960.0,931.0,979.0,844.0,1577.0
20,730,34990919,07/27/2014,8.00,NO,2.4,2.74,13.20,47.0,48.0,...,703060,"[-89.194145, 44.060486]",2014-07-27,2014-07-20,2014-08-03,1393.0,1387.0,1445.0,1317.0,2671.0
21,732,121884948,06/28/2015,NaN,NaN,NaN,9.34,27.30,NaN,54.0,...,703060,"[-89.194145, 44.060486]",2015-06-28,2015-06-21,2015-07-05,370.0,385.0,498.0,326.0,522.0
22,734,121884948,07/26/2015,NaN,NaN,NaN,3.16,24.00,NaN,53.0,...,703060,"[-89.194145, 44.060486]",2015-07-26,2015-07-19,2015-08-02,350.0,352.0,456.0,316.0,273.0
23,736,137688017,06/25/2016,NaN,NaN,NaN,6.78,22.50,NaN,52.0,...,703060,"[-89.194145, 44.060486]",2016-06-25,2016-06-18,2016-07-02,182.0,222.0,385.0,238.0,194.0
24,737,137688017,07/23/2016,NaN,NaN,NaN,2.16,23.80,NaN,53.0,...,703060,"[-89.194145, 44.060486]",2016-07-23,2016-07-16,2016-07-30,1867.0,1850.0,1806.0,1735.0,3331.0
25,738,137688017,08/28/2016,NaN,NaN,NaN,1.50,16.40,NaN,50.0,...,703060,"[-89.194145, 44.060486]",2016-08-28,2016-08-21,2016-09-04,267.0,259.0,303.0,190.0,333.0
26,740,137688017,06/24/2017,NaN,NaN,NaN,7.17,40.80,NaN,57.0,...,703060,"[-89.194145, 44.060486]",2017-06-24,2017-06-17,2017-07-01,353.0,366.0,398.0,326.0,304.0
27,741,137688017,07/29/2017,NaN,NaN,NaN,10.60,30.30,NaN,55.0,...,703060,"[-89.194145, 44.060486]",2017-07-29,2017-07-22,2017-08-05,NaN,NaN,NaN,NaN,NaN
28,742,137688017,09/03/2017,NaN,NaN,NaN,8.37,25.30,NaN,53.0,...,703060,"[-89.194145, 44.060486]",2017-09-03,2017-08-27,2017-09-10,1196.0,1172.0,1204.0,1113.0,1843.0
29,750,83263526,07/06/2013,NaN,NaN,NaN,28.50,138.00,NaN,66.0,...,183082,"[-91.4230985, 44.8149299]",2013-07-06,2013-06-29,2013-07-13,951.0,946.0,969.0,936.0,1476.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,161318,36799091,06/15/2014,NaN,NaN,NaN,16.80,34.60,NaN,56.0,...,073079,"[-92.3985698, 45.9190532]",2014-06-15,2014-06-08,2014-06-22,148.0,141.0,133.0,98.0,98.0
10074,161320,8191321,07/14/2014,7.00,NO,2.1,6.54,28.70,49.0,54.0,...,073079,"[-92.3985698, 45.9190532]",2014-07-14,2014-07-07,2014-07-21,252.0,237.0,238.0,182.0,179.0
10075,161321,8191321,08/04/2014,5.00,NO,1.5,23.40,30.20,54.0,55.0,...,073079,"[-92.3985698, 45.9190532]",2014-08-04,2014-07-28,2014-08-11,351.0,360.0,469.0,322.0,289.0
10076,161323,8191321,06/01/2015,11.00,NO,3.3,3.56,26.90,43.0,54.0,...,073079,"[-92.3985698, 45.9190532]",2015-06-01,2015-05-25,2015-06-08,761.0,789.0,899.0,850.0,1104.0
10077,161324,8191321,07/07/2015,6.00,NO,1.8,16.70,32.90,51.0,55.0,...,073079,"[-92.3985698, 45.9190532]",2015-07-07,2015-06-30,2015-07-14,137.0,152.0,229.0,132.0,89.0
10078,161325,8191321,08/11/2015,4.00,NO,1.2,53.60,49.10,57.0,58.0,...,073079,"[-92.3985698, 45.9190532]",2015-08-11,2015-08-04,2015-08-18,202.0,232.0,377.0,218.0,132.0
10079,161326,8191321,09/08/2015,4.00,NO,1.2,46.10,56.90,57.0,59.0,...,073079,"[-92.3985698, 45.9190532]",2015-09-08,2015-09-01,2015-09-15,2742.0,2787.0,2886.0,2921.0,3608.0
10080,161329,8191321,06/20/2016,8.00,NO,2.4,6.27,24.40,47.0,53.0,...,073079,"[-92.3985698, 45.9190532]",2016-06-20,2016-06-13,2016-06-27,484.0,503.0,590.0,533.0,492.0
10081,161330,8191321,07/18/2016,5.00,NO,1.5,10.60,38.40,54.0,56.0,...,073079,"[-92.3985698, 45.9190532]",2016-07-18,2016-07-11,2016-07-25,866.0,818.0,794.0,731.0,996.0
10082,161331,8191321,08/31/2016,NaN,NaN,NaN,71.60,96.30,NaN,64.0,...,073079,"[-92.3985698, 45.9190532]",2016-08-31,2016-08-24,2016-09-07,86.0,98.0,138.0,82.0,21.0
10083,161332,8191321,06/05/2017,5.00,NO,1.5,6.05,31.10,54.0,55.0,...,073079,"[-92.3985698, 45.9190532]",2017-06-05,2017-05-29,2017-06-12,294.0,304.0,324.0,284.0,256.0
10084,161333,8191321,07/10/2017,8.00,NO,2.4,9.91,28.40,47.0,54.0,...,073079,"[-92.3985698, 45.9190532]",2017-07-10,2017-07-03,2017-07-17,NaN,NaN,NaN,NaN,NaN
10085,161334,8191321,08/07/2017,5.00,NO,1.5,14.20,43.50,54.0,57.0,...,073079,"[-92.3985698, 45.9190532]",2017-08-07,2017-07-31,2017-08-14,3612.0,3525.0,3690.0,3643.0,3860.0
10086,161335,8191321,09/05/2017,4.60,NO,1.4,33.20,90.90,55.0,63.0,...,073079,"[-92.3985698, 45.9190532]",2017-09-05,2017-08-29,2017-09-12,234.0,272.0,393.0,223.0,199.0
10087,161396,34818229,06/28/2013,2.00,NO,0.6,13.40,151.00,67.0,67.0,...,333254,"[-89.9738841, 42.7640929]",2013-06-28,2013-06-21,2013-07-05,405.0,505.0,735.0,658.0,777.0
10088,161398,62803480,07/09/2013,2.75,NO,0.8,61.00,70.80,63.0,61.0,...,333254,"[-89.9738841, 42.7640929]",2013-07-09,2013-07-02,2013-07-16,NaN,NaN,NaN,NaN,NaN
10089,161399,34818229,08/07/2013,2.75,NO,0.8,101.00,208.00,63.0,69.0,...,333254,"[-89.9738841, 42.7640929]",2013-08-07,2013-07-31,2013-08-14,304.0,341.0,530.0,326.0,181.0
10090,161403,34818229,06/18/2014,4.25,NO,1.3,11.30,109.00,56.0,64.0,...,333254,"[-89.9738841, 42.7640929]",2014-06-18,2014-06-11,2014-06-25,713.0,872.0,1088.0,992.0,1107.0
10091,161404,34818229,07/18/2014,1.00,NO,0.3,71.00,115.00,77.0,65.0,...,333254,"[-89.9738841, 42.7640929]",2014-07-18,2014-07-11,2014-07-25,216.0,317.0,560.0,321.0,672.0
10092,161405,99385750,07/28/2014,2.00,NO,0.6,86.40,151.00,67.0,67.0,...,333254,"[-89.9738841, 42.7640929]",2014-07-28,2014-07-21,2014-08-04,366.0,455.0,677.0,526.0,783.0
10093,161410,34818229,06/10/2015,4.50,NO,1.4,31.40,52.60,55.0,59.0,...,333254,"[-89.9738841, 42.7640929]",2015-06-10,2015-06-03,2015-06-17,1193.0,1193.0,1290.0,1130.0,1722.0
10094,161411,34818229,07/13/2015,1.75,NO,0.5,61.50,89.60,69.0,63.0,...,333254,"[-89.9738841, 42.7640929]",2015-07-13,2015-07-06,2015-07-20,309.0,340.0,522.0,313.0,438.0
10095,161413,81193662,09/03/2015,1.30,NO,0.4,82.20,134.00,73.0,66.0,...,333254,"[-89.9738841, 42.7640929]",2015-09-03,2015-08-27,2015-09-10,262.0,328.0,609.0,387.0,481.0
10096,161418,34818229,06/21/2016,2.00,NO,0.6,54.30,125.00,67.0,66.0,...,333254,"[-89.9738841, 42.7640929]",2016-06-21,2016-06-14,2016-06-28,184.0,238.0,408.0,284.0,148.0
10097,161426,34818229,05/31/2017,1.50,NO,0.5,12.00,37.40,71.0,56.0,...,333254,"[-89.9738841, 42.7640929]",2017-05-31,2017-05-24,2017-06-07,274.0,333.0,563.0,353.0,249.0
10098,161427,34818229,06/27/2017,1.50,NO,0.5,39.30,NaN,71.0,NaN,...,333254,"[-89.9738841, 42.7640929]",2017-06-27,2017-06-20,2017-07-04,NaN,NaN,NaN,NaN,NaN
10099,161428,34818229,07/23/2017,1.50,NO,0.5,61.50,110.00,71.0,65.0,...,333254,"[-89.9738841, 42.7640929]",2017-07-23,2017-07-16,2017-07-30,278.0,315.0,475.0,343.0,350.0
10100,161429,99475467,08/24/2017,NaN,NaN,NaN,79.00,122.00,NaN,65.0,...,333254,"[-89.9738841, 42.7640929]",2017-08-24,2017-08-17,2017-08-31,3809.0,3778.0,3733.0,3618.0,4966.0
10101,161440,1,07/26/2016,11.80,N,3.6,0.45,15.20,42.0,49.0,...,693101,"[-89.183001, 44.3330556]",2016-07-26,2016-07-19,2016-08-02,NaN,NaN,NaN,NaN,NaN
10102,161441,145584054,06/21/2017,NaN,NaN,NaN,3.96,20.50,NaN,52.0,...,693101,"[-89.183001, 44.3330556]",2017-06-21,2017-06-14,2017-06-28,3884.0,3967.0,3992.0,4056.0,5251.0

In [32]:
wi_lakes_select.to_pickle('./data/wi-lakes/wi_lakes_ls8.pkl')

Clean up the data frame to contain only those with valid reflectance values and remove irrelevant columns

In [33]:
# Reflectance values should be greater than 0. Negative values are computational artifacts. 
# https://landsat.usgs.gov/why-negative-values-over-water-landsat-surface-reflectance
clean_reflectance = (wi_lakes_select.ls8_b1 > 0) & (wi_lakes_select.ls8_b2 > 0)  & (wi_lakes_select.ls8_b3 > 0)  & (wi_lakes_select.ls8_b4 > 0) & (wi_lakes_select.ls8_b5 > 0)

In [34]:
# Drop irrelevant columns and select only valid reflectance values
wi_lakes_ls8_clean = wi_lakes_select[clean_reflectance].drop(columns=['index','group_seq_no','secchi__feet', 'secchi_hit_bottom', 'secchi__meters', 'total_phosphorus_ug_l','secchi_tsi','total_phosphorus_tsi'])

In [35]:
wi_lakes_ls8_clean

,start_date,chlorophyll_ug_l,chlorophyll_tsi,wbic,lake_name,county,station_id,coordinates,record_date,image_start_date,image_end_date,ls8_b1,ls8_b2,ls8_b3,ls8_b4,ls8_b5
0,07/17/2017,3.38,44.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",2017-07-17,2017-07-10,2017-07-24,2158.0,2120.0,2165.0,2008.0,3503.0
1,08/08/2017,2.99,43.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",2017-08-08,2017-08-01,2017-08-15,1024.0,1033.0,1125.0,997.0,2816.0
2,09/13/2017,5.88,48.0,267800,Adams Lake,Portage,504001,"[-89.3813373, 44.4366549]",2017-09-13,2017-09-06,2017-09-20,2251.0,2240.0,2275.0,2213.0,3448.0
3,06/27/2013,1.72,39.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2013-06-27,2013-06-20,2013-07-04,223.0,297.0,421.0,288.0,512.0
4,07/24/2013,5.11,47.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2013-07-24,2013-07-17,2013-07-31,5779.0,5948.0,6192.0,6378.0,7382.0
5,08/28/2013,4.43,46.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2013-08-28,2013-08-21,2013-09-04,2709.0,2662.0,2772.0,2698.0,4055.0
6,06/23/2014,2.11,40.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2014-06-23,2014-06-16,2014-06-30,378.0,349.0,332.0,183.0,165.0
7,07/28/2014,2.77,43.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2014-07-28,2014-07-21,2014-08-04,696.0,701.0,714.0,493.0,704.0
8,08/26/2014,4.82,47.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2014-08-26,2014-08-19,2014-09-02,5090.0,5119.0,5260.0,5301.0,6152.0
9,06/18/2015,2.43,42.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2015-06-18,2015-06-11,2015-06-25,7897.0,7944.0,7883.0,7945.0,8081.0
10,07/30/2015,3.10,43.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2015-07-30,2015-07-23,2015-08-06,7123.0,7335.0,7483.0,7692.0,8189.0
11,08/20/2015,7.15,50.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2015-08-20,2015-08-13,2015-08-27,1024.0,1017.0,1051.0,946.0,1649.0
12,06/28/2016,4.42,46.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2016-06-28,2016-06-21,2016-07-05,3583.0,3596.0,3598.0,3558.0,4567.0
13,07/26/2016,2.94,43.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2016-07-26,2016-07-19,2016-08-02,5695.0,5767.0,5942.0,6156.0,6892.0
14,08/24/2016,5.29,47.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2016-08-24,2016-08-17,2016-08-31,317.0,284.0,286.0,167.0,169.0
15,07/05/2017,2.54,42.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2017-07-05,2017-06-28,2017-07-12,212.0,197.0,191.0,121.0,137.0
16,07/25/2017,2.39,41.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2017-07-25,2017-07-18,2017-08-01,1000.0,980.0,982.0,887.0,1520.0
17,08/21/2017,3.50,44.0,967900,Alma Lake,Vilas,643047,"[-89.4282752, 45.9097631]",2017-08-21,2017-08-14,2017-08-28,300.0,299.0,321.0,201.0,392.0
18,06/24/2013,2.81,43.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2013-06-24,2013-06-17,2013-07-01,66.0,157.0,311.0,197.0,572.0
19,08/27/2013,2.32,41.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2013-08-27,2013-08-20,2013-09-03,960.0,931.0,979.0,844.0,1577.0
20,07/27/2014,2.74,42.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2014-07-27,2014-07-20,2014-08-03,1393.0,1387.0,1445.0,1317.0,2671.0
21,06/28/2015,9.34,52.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2015-06-28,2015-06-21,2015-07-05,370.0,385.0,498.0,326.0,522.0
22,07/26/2015,3.16,43.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2015-07-26,2015-07-19,2015-08-02,350.0,352.0,456.0,316.0,273.0
23,06/25/2016,6.78,49.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2016-06-25,2016-06-18,2016-07-02,182.0,222.0,385.0,238.0,194.0
24,07/23/2016,2.16,41.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2016-07-23,2016-07-16,2016-07-30,1867.0,1850.0,1806.0,1735.0,3331.0
25,08/28/2016,1.50,38.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2016-08-28,2016-08-21,2016-09-04,267.0,259.0,303.0,190.0,333.0
26,06/24/2017,7.17,50.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2017-06-24,2017-06-17,2017-07-01,353.0,366.0,398.0,326.0,304.0
28,09/03/2017,8.37,51.0,245650,Alpine Lake,Waushara,703060,"[-89.194145, 44.060486]",2017-09-03,2017-08-27,2017-09-10,1196.0,1172.0,1204.0,1113.0,1843.0
29,07/06/2013,28.50,60.0,2128100,Altoona Lake,Eau Claire,183082,"[-91.4230985, 44.8149299]",2013-07-06,2013-06-29,2013-07-13,951.0,946.0,969.0,936.0,1476.0
30,07/29/2013,27.20,60.0,2128100,Altoona Lake,Eau Claire,183082,"[-91.4230985, 44.8149299]",2013-07-29,2013-07-22,2013-08-05,230.0,236.0,299.0,240.0,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10068,08/22/2017,16.90,56.0,1599600,Yellow Birch Lake,Vilas,10028832,"[-89.2378596, 45.9345235]",2017-08-22,2017-08-15,2017-08-29,314.0,323.0,394.0,303.0,320.0
10070,06/17/2013,4.11,45.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2013-06-17,2013-06-10,2013-06-24,5362.0,5311.0,5328.0,5264.0,5842.0
10071,07/01/2013,22.30,58.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2013-07-01,2013-06-24,2013-07-08,2120.0,2165.0,1889.0,1899.0,3173.0
10072,08/06/2013,34.20,62.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2013-08-06,2013-07-30,2013-08-13,248.0,262.0,402.0,246.0,133.0
10073,06/15/2014,16.80,56.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2014-06-15,2014-06-08,2014-06-22,148.0,141.0,133.0,98.0,98.0
10074,07/14/2014,6.54,49.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2014-07-14,2014-07-07,2014-07-21,252.0,237.0,238.0,182.0,179.0
10075,08/04/2014,23.40,59.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2014-08-04,2014-07-28,2014-08-11,351.0,360.0,469.0,322.0,289.0
10076,06/01/2015,3.56,44.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2015-06-01,2015-05-25,2015-06-08,761.0,789.0,899.0,850.0,1104.0
10077,07/07/2015,16.70,56.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2015-07-07,2015-06-30,2015-07-14,137.0,152.0,229.0,132.0,89.0
10078,08/11/2015,53.60,65.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2015-08-11,2015-08-04,2015-08-18,202.0,232.0,377.0,218.0,132.0
10079,09/08/2015,46.10,64.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2015-09-08,2015-09-01,2015-09-15,2742.0,2787.0,2886.0,2921.0,3608.0
10080,06/20/2016,6.27,49.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2016-06-20,2016-06-13,2016-06-27,484.0,503.0,590.0,533.0,492.0
10081,07/18/2016,10.60,53.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2016-07-18,2016-07-11,2016-07-25,866.0,818.0,794.0,731.0,996.0
10082,08/31/2016,71.60,67.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2016-08-31,2016-08-24,2016-09-07,86.0,98.0,138.0,82.0,21.0
10083,06/05/2017,6.05,48.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2017-06-05,2017-05-29,2017-06-12,294.0,304.0,324.0,284.0,256.0
10085,08/07/2017,14.20,55.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2017-08-07,2017-07-31,2017-08-14,3612.0,3525.0,3690.0,3643.0,3860.0
10086,09/05/2017,33.20,61.0,2675200,Yellow Lake,Burnett,073079,"[-92.3985698, 45.9190532]",2017-09-05,2017-08-29,2017-09-12,234.0,272.0,393.0,223.0,199.0
10087,06/28/2013,13.40,54.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2013-06-28,2013-06-21,2013-07-05,405.0,505.0,735.0,658.0,777.0
10089,08/07/2013,101.00,70.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2013-08-07,2013-07-31,2013-08-14,304.0,341.0,530.0,326.0,181.0
10090,06/18/2014,11.30,53.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2014-06-18,2014-06-11,2014-06-25,713.0,872.0,1088.0,992.0,1107.0
10091,07/18/2014,71.00,67.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2014-07-18,2014-07-11,2014-07-25,216.0,317.0,560.0,321.0,672.0
10092,07/28/2014,86.40,69.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2014-07-28,2014-07-21,2014-08-04,366.0,455.0,677.0,526.0,783.0
10093,06/10/2015,31.40,61.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2015-06-10,2015-06-03,2015-06-17,1193.0,1193.0,1290.0,1130.0,1722.0
10094,07/13/2015,61.50,66.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2015-07-13,2015-07-06,2015-07-20,309.0,340.0,522.0,313.0,438.0
10095,09/03/2015,82.20,68.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2015-09-03,2015-08-27,2015-09-10,262.0,328.0,609.0,387.0,481.0
10096,06/21/2016,54.30,65.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2016-06-21,2016-06-14,2016-06-28,184.0,238.0,408.0,284.0,148.0
10097,05/31/2017,12.00,54.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2017-05-31,2017-05-24,2017-06-07,274.0,333.0,563.0,353.0,249.0
10099,07/23/2017,61.50,66.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2017-07-23,2017-07-16,2017-07-30,278.0,315.0,475.0,343.0,350.0
10100,08/24/2017,79.00,68.0,903700,Yellowstone Lake,Lafayette,333254,"[-89.9738841, 42.7640929]",2017-08-24,2017-08-17,2017-08-31,3809.0,3778.0,3733.0,3618.0,4966.0
10102,06/21/2017,3.96,45.0,264300,Youngs Lake,Waupaca,693101,"[-89.183001, 44.3330556]",2017-06-21,2017-06-14,2017-06-28,3884.0,3967.0,3992.0,4056.0,5251.0

In [36]:
wi_lakes_ls8_clean.describe()

,chlorophyll_ug_l,chlorophyll_tsi,ls8_b1,ls8_b2,ls8_b3,ls8_b4,ls8_b5
count,8717.000000,8717.000000,8717.000000,8717.000000,8717.000000,8717.000000,8717.000000
mean,11.855021,48.387060,1983.656074,2004.262246,2069.591029,2003.327291,2464.491339
std,17.136907,8.435214,2528.688331,2550.021277,2553.622140,2633.965079,2812.029348
min,0.160000,21.000000,3.000000,35.000000,61.000000,5.000000,1.000000
25%,2.740000,42.000000,208.000000,230.000000,297.000000,184.000000,237.000000
50%,5.040000,47.000000,472.000000,485.000000,613.000000,459.000000,903.000000
75%,12.200000,54.000000,3186.000000,3188.000000,3266.000000,3244.000000,4440.000000
max,112.000000,70.000000,12028.000000,12267.000000,12689.000000,13016.000000,12931.000000

In [37]:
# This will be the final, clean data frame to work with for the model
wi_lakes_ls8_clean.to_pickle('./data/wi-lakes/wi_lakes_ls8_clean.pkl')

In [4]:
# join other lake properties
wi_lakes_insitu_df = pd.read_pickle('./data/wi-lakes/wi_lakes_all.pkl')
wi_lakes_clean = pd.read_pickle('./data/wi-lakes/wi_lakes_ls8_clean.pkl')